<% content_for :title do %>
    <% if current_user %>
        All Registered Users
    <% else %>
        Welcome
    <% end %>
<% end %>

<% if current_user %>
<table class="gradienttable">
  <thead>
    <tr>
      <th><p>Username</p></th>
      <th><p>Email</p></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td>
        <% if can? :read, user %>
        <%= link_to 'Show', user %></td>
        <% end %>
        </td>
        <td>
        <% if can? :manage, user %>
        <%= link_to 'Edit', edit_user_path(user) %>
        <% end %>
        </td>
        <td>
        <% if can? :manage, user %>
          <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>