<h1>Listing payments</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Ip address</th>
      <th>First name</th>
      <th>Last name</th>
      <th>Card expires on</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @payments.each do |payment| %>
      <% if (payment.user_id == current_user.attributes['id']) || (current_user.has_role? :manager) %>
          <tr>
            <td><%= payment.amount %></td>
            <td><%= payment.ip_address %></td>
            <td><%= payment.first_name %></td>
            <td><%= payment.last_name %></td>
            <td><%= payment.card_expires_on %></td>
            <td><%= link_to 'Show', payment %></td>
          </tr>
       <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Make a Payment', new_payment_path %>
